.galaxy-section {
  padding: 32px 64px;
  display: flex;
  justify-content: flex-end;
}

.container {
  width: 80%;
  // background-color: #191919;
  display: grid;
  grid-template: repeat(32, 1fr) / repeat(30, 1fr);

  @media (orientation: landscape) {
    height: 60vh;
    // padding: 40px 20px;
    gap: 6px;
  }

  @media (orientation: portrait) {
    height: 40vh;
    // padding: 16px 8px;
    gap: 4px;
  }
}

.item {
	object-fit: cover;
	width: 100%;
	height:100%;
  border-radius: 4px;
}

//items position
.item1 {
	grid-area: 8/1/15/6;
}
.item2 {
	grid-area: 4/6/15/13;
}
.item3 {
	grid-area: 7/13/15/16;
}
.item4 {
	grid-area: 7/16/15/19;
}
.item5 {
	grid-area: 1/19/15/24;
}
.item6 {
	grid-area: 7/24/15/27;
}
.item7 {
	grid-area: 7/27/15/30;
}
.item8 {
	grid-area: 15/4/23/11;
}
.item9 {
	grid-area: 15/11/23/14;
}
.item10 {
	grid-area: 15/14/23/17;
}
.item11 {
	grid-area: 15/17/25/25;
}
.item12 {
	grid-area: 15/25/25/29;
}
.item13 {
	grid-area: 23/5/33/9;
}
.item14 {
	grid-area: 23/9/30/12;
}
.item15 {
	grid-area: 23/12/31/17;
}
.item16 {
	grid-area: 25/17/33/20;
}
.item17 {
	grid-area: 25/20/33/26;
}
.item18 {
	grid-area: 25/26/33/31;
}
